body {
	margin: 0;
	padding: 0;
}

h1, h2, p {
	font-family: 'Open Sans', sans-serif;
}

table {

	&.left {
		float: left;
		width: 87% !important;
	}

	&.right {
		float: right;
		width: 12% !important;
	}

}

#quaggaCam {
	z-index: 10000;
	position: absolute;
	display: none;
}

.content, .lightbox_bg {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: gray;
}

.lightbox_bg {
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	display: none;
}

.centered {
	padding: 32px;
	background: white;
	border-radius: 3px;

	h1, p {
		text-align: center;
	}

	&.lightbox {

		max-width: 1024px;
		margin: 0 auto;

		@media screen and (max-width: 540px) {
			padding: 12px 0 12px 0;
		}

		#tag_number {
			width: 150;
			text-align: center;
			font-size: 32px;
		}

		#lastcount {
			display: none;
		}

		#edit_item, #edit_count_section, #complete {
			display: none;
		}

		table {
			width: 100%;
			tr {
				td {
					padding: 12px;
					@media screen and (max-width: 540px) {
						padding: 8px;
					}
				}
			}
		}
	}
}

.ui-menu .ui-menu-item {
	@media screen and (max-width: 540px) {
		font-size: 11px;
		max-width: 264px;
	}
}

.fullpage {
	padding: 32px;

	@media screen and (max-width: 540px) {
		padding: 32px 0 0 0;
	}

	background: white;
	border-radius: 3px;
	width: 92%;
	height: 90vh;
	overflow-y: auto;
	max-width: 1024px;

	#inventory_section, #spotcheck {
		@media screen and (max-width: 540px) {
			text-align: center;

			button {
				margin-top: 18px;
			}
		}
	}

	#spot_lb {
		display: none;
	}

	#spotcheck {
		margin: 12px 0 12px 0;

		a {
			font-size: 18px;
		}
	}

	#results_section {
		display: none;
	}

	table {
		width: 100%;
		tr {
			&:nth-child(even) {
				background: #CCC;
			}

			&:nth-child(odd) {
				background: #FFF;
			}
		}

		&#latest_submissions, &#res_table, &#singleitem_submissions {
			@media screen and (max-width: 540px) {
				font-size: 11px;
			}
		}
	}
}

#item_lookup {
	width: 264px;
}

#search_btn, #item_lookup, #submit_inventory, #blank_btn {
    font-size: 18px;
    font-family: 'Open Sans';
}