body {
  margin: 0;
  padding: 0;
}

h1, h2, p {
  font-family: 'Open Sans', sans-serif;
}

table.left {
  float: left;
  width: 87% !important;
}
table.right {
  float: right;
  width: 12% !important;
}

#quaggaCam {
  z-index: 10000;
  position: absolute;
  display: none;
}

.content, .lightbox_bg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: gray;
}

.lightbox_bg {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  display: none;
}

.centered {
  padding: 32px;
  background: white;
  border-radius: 3px;
}
.centered h1, .centered p {
  text-align: center;
}
.centered.lightbox {
  max-width: 1024px;
  margin: 0 auto;
}
@media screen and (max-width: 540px) {
  .centered.lightbox {
    padding: 12px 0 12px 0;
  }
}
.centered.lightbox #tag_number {
  width: 150;
  text-align: center;
  font-size: 32px;
}
.centered.lightbox #lastcount {
  display: none;
}
.centered.lightbox #edit_item, .centered.lightbox #edit_count_section, .centered.lightbox #complete {
  display: none;
}
.centered.lightbox table {
  width: 100%;
}
.centered.lightbox table tr td {
  padding: 12px;
}
@media screen and (max-width: 540px) {
  .centered.lightbox table tr td {
    padding: 8px;
  }
}

@media screen and (max-width: 540px) {
  .ui-menu .ui-menu-item {
    font-size: 11px;
    max-width: 264px;
  }
}

.fullpage {
  padding: 32px;
  background: white;
  border-radius: 3px;
  width: 92%;
  height: 90vh;
  overflow-y: auto;
  max-width: 1024px;
}
@media screen and (max-width: 540px) {
  .fullpage {
    padding: 32px 0 0 0;
  }
}
@media screen and (max-width: 540px) {
  .fullpage #inventory_section, .fullpage #spotcheck {
    text-align: center;
  }
  .fullpage #inventory_section button, .fullpage #spotcheck button {
    margin-top: 18px;
  }
}
.fullpage #spot_lb {
  display: none;
}
.fullpage #spotcheck {
  margin: 12px 0 12px 0;
}
.fullpage #spotcheck a {
  font-size: 18px;
}
.fullpage #results_section {
  display: none;
}
.fullpage table {
  width: 100%;
}
.fullpage table tr:nth-child(even) {
  background: #CCC;
}
.fullpage table tr:nth-child(odd) {
  background: #FFF;
}
@media screen and (max-width: 540px) {
  .fullpage table#latest_submissions, .fullpage table#res_table, .fullpage table#singleitem_submissions {
    font-size: 11px;
  }
}

#item_lookup {
  width: 264px;
}

#search_btn, #item_lookup, #submit_inventory, #blank_btn {
  font-size: 18px;
  font-family: 'Open Sans';
}
